<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="delimiter" value="," />
    <add key="textQualifier" value="&quot;" />
    <add key="AddItemsFromFile" value="false" />
    <add key="apikey" value="a135c5f0-f228-4cc9-8a55-09555ba1945b" />
    <add key="fromName" value="Hayes Software Company"/>
    <add key="ElasticAPI" value="https://api.elasticemail.com/v2/email/send"/>
    <add key="SMSAPI" value="https://api.elasticemail.com/sms/send" />
    <add key="notificationSentTo" value="dcathcart@hayessoft.com"/>
    <add key="notificationSentFrom" value=""/>
    <add key="SqlServerDbMailProfileName" value="TIPWebIMEMail"></add>
    
    <!--Below fields are for file mapping.-->
    <add key="OrderNumber" value="PO_Number"/>
    <add key="OrderDate" value="PO_Date"/>
    <add key="VendorName" value="Vendor_Name"/>
    <add key="ProductName" value="Product_Name"/>
    <add key="Description" value="Product_Name"/>
    <add key="ProductType" value="Product_type"/>
    <add key="Model" value="Model"/>
    <add key="Manufacturer" value="Manufacturer"/>
    <add key="Quantity" value="Quantity"/>
    <add key="PurchasePrice" value="Purchase_price"/>
    <add key="FundingSource" value=""/>
    <add key="AccountCode" value="AccountCode"/>
    <add key="LineNumber" value="Line_Number"/>
    <add key="ShippedToSite" value="Siteid"/>
    <add key="QuantityShipped" value="Quantity"/>
    <add key="Notes" value="PONotes"/>
    
    <!--Charges and Payments-->
    <add key="FineId" value="0"/>
    <add key="PaymentAmount" value="1"/>
    <add key="PaymentType" value="2"/>
    <add key="PaymentDate" value="3"/>
    
    <!--Default Values-->
    <add key="ProductTypeDefault" value="Unspecified"/>
    <add key="ModelDefault" value="None"/>
    <add key="ManufacturerDefault" value="None"/>
    <add key="ShippedToSiteDefault" value="923"/>
    <add key="FundingSourceDefault" value="None"/>
    
    
  </appSettings>
  <connectionStrings>
    <!--<add name="AdoConnectionString" connectionString="Server=HayesConversion;Database=TipWebHostedSequoiaUHSD;Trusted_Connection=True;" />-->
    <!-- <add name="AdoConnectionString" connectionString="Server=HayesConversion;Database=TipWebHostedSequoiaUHSD;User ID=Tipweb;Password=Bookmaster;" /> -->
    <add name="AdoConnectionString" connectionString="Data Source=.;Database=TipWebHostedSequoiaUHSD;Trusted_Connection=Yes;" />
  </connectionStrings>
</configuration>