<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <!--<add name="AdoConnectionString" connectionString="Server=.;Database=IntegrationMiddleWay;Trusted_Connection=True;" />-->
        <add name="AdoConnectionString" connectionString="Server=HayesConversion;Database=IntegrationMiddleWay;User ID=integration-middleway;Password=p@ssw0rd;" />
    </connectionStrings>
</configuration>