<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="AdoConnectionString" connectionString="Server=.;Database=IntegrationMiddleWay;Trusted_Connection=True;" />
        <!--<add name="AdoConnectionString" connectionString="Server=RND-ADOMINGUEZ;Database=TipWebHostedCollegeStationCISD;Trusted_Connection=True;" />-->
        <!--<add name="AdoConnectionString" connectionString="Server=HayesConversion;Database=TipWebHostedCollegeStationCISD;User ID=Tipweb;Password=Bookmaster;" />-->
    </connectionStrings>
</configuration>