<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="delimiter" value="," />
    <add key="textQualifier" value="&quot;" />
    <add key="AddItemsFromFile" value="false" />
    <add key="apikey" value="a135c5f0-f228-4cc9-8a55-09555ba1945b" />
    <add key="fromName" value="Hayes Software Company"/>
    <add key="ElasticAPI" value="https://api.elasticemail.com/v2/email/send"/>
    <add key="SMSAPI" value="https://api.elasticemail.com/sms/send" />
    <add key="notificationSentTo" value="cneely@csisd.org,support@hayessoft.com,adominguez@hayessoft.com"/>
    <add key="notificationSentFrom" value="no-reply@mesaps.com"/>
    <add key="SqlServerDbMailProfileName" value="TIPWebIMEMail"></add>
    <add key="IntegrationPartner" value="College Station ISD"/>
    <add key="IntegrationType" value="Purchase Orders"/>

    <!--Below fields are for file mapping.-->
    <add key="OrderNumber" value="PO_NUMBER"/>
    <add key="OrderDate" value="PO_DATE"/>
    <add key="VendorName" value="VENDOR_NAME"/>
    <add key="ProductName" value="PRODUCT_NAME"/>
    <add key="Description" value="DESCRIPTION"/>
    <add key="ProductType" value=""/>
    <add key="Model" value=""/>
    <add key="Manufacturer" value=""/>
    <add key="Quantity" value="QUANTITY"/>
    <add key="PurchasePrice" value="PURCHASE_PRICE"/>
    <add key="FundingSource" value="FUNDING_SOURCE"/>
    <add key="AccountCode" value="ACCOUNT_CODE"/>
    <add key="LineNumber" value="LINE_NUMBER"/>
    <add key="ShippedToSite" value=""/>
    <add key="QuantityShipped" value=""/>
    <add key="Notes" value=""/>

    <!--Charges and Payments-->
    <add key="FineId" value="0"/>
    <add key="PaymentAmount" value="1"/>
    <add key="PaymentType" value="2"/>
    <add key="PaymentDate" value="3"/>

    <!--Default Values-->
    <add key="ProductTypeDefault" value="Unassigned"/>
    <add key="ModelDefault" value="None"/>
    <add key="ManufacturerDefault" value="None"/>
    <add key="ShippedToSiteDefault" value="923"/>


  </appSettings>
  <connectionStrings>
    <add name="AdoConnectionString" connectionString="Server=DB;Database=TipWebHostedCollegeStationCISD;Trusted_Connection=True;" />
    <!--<add name="AdoConnectionString" connectionString="Server=RND-ADOMINGUEZ;Database=TipWebHostedCollegeStationCISD;Trusted_Connection=True;" />-->
    <!--<add name="AdoConnectionString" connectionString="Server=HayesConversion;Database=TipWebHostedCollegeStationCISD;User ID=Tipweb;Password=Bookmaster;" />-->
  </connectionStrings>
</configuration>