<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="delimiter" value="&#009;" />
    <add key="textQualifier" value="|" />
    <add key="AddItemsFromFile" value="false" />
    <add key="apikey" value="a135c5f0-f228-4cc9-8a55-09555ba1945b" />
    <add key="fromName" value="Hayes Software Systems"/>
    <add key="ElasticAPI" value="https://api.elasticemail.com/v2/email/send"/>
    <add key="SMSAPI" value="https://api.elasticemail.com/sms/send" />
    <add key="notificationSentTo" value="dcathcart@hayessoft.com,jayala@hayessoft.com"/>
    <add key="notificationSentFrom" value="no-reply@mesaps.com"/>
    <add key="SqlServerDbMailProfileName" value="TIPWebIMEMail"></add>
    
    <!--Below fields are for file mapping.-->
    <add key="OrderNumber" value="PO_Number"/>
    <!--<add key="OrderReference" value="PR_Number"/>-->
    <add key="OrderDate" value="PO_Date"/>
    <add key="VendorName" value="Vendor_Name"/>
    <add key="ProductName" value="Notes"/>
    <add key="Description" value="Notes"/>
    <add key="ProductType" value=""/>
    <add key="Model" value=""/>
    <add key="Manufacturer" value=""/>
    <add key="Quantity" value="Quantity"/>
    <add key="PurchasePrice" value="Purchase_Price"/>
    <add key="FundingSource" value="Funding_Source"/>
    <add key="AccountCode" value="Account_Code"/>
    <add key="LineNumber" value="LineNumber"/>
    <add key="ShippedToSite" value=""/>
    <add key="QuantityShipped" value=""/>
    <add key="Notes" value="Notes"/>
    
    <!--Charges and Payments-->
    <add key="FineId" value="FineId"/>
    <add key="PaymentAmount" value="Amount"/>
    <add key="PaymentType" value="Type"/>
    <add key="PaymentDate" value="Date"/>
    
    <!--Default Values-->
    <add key="ProductTypeDefault" value="Unassigned"/>
    <add key ="ModelDefault" value="None"/>
    <add key ="ManufacturerDefault" value="None"/>
    <add key="ShippedToSiteDefault" value="625"/>
    
    
  </appSettings>
  <connectionStrings>
    <add name="AdoConnectionString" connectionString="Server=HayesDb2012;Database=TipWebHostedTucsonUSD;User ID=Tipweb;Password=Bookmaster;" />
    <!--<add name="AdoConnectionString" connectionString="Server=HayesDb2012;Database=TipWebHostedTucsonUSD;Trusted_Connection=True;" />-->
  </connectionStrings>
</configuration>