<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DC" connectionString="Data Source=HAYESConversion;Initial Catalog=_DataConversion;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Intergration" connectionString="Data Source=HAYESConversion;Initial Catalog=IntegrationMiddleWay;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="TIPWeb-IT" connectionString="Data Source=HAYESConversion;Initial Catalog=[TIPWebITDBNameHere];Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>