<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="delimiter" value="&#009;" />
    <add key="textQualifier" value="&quot;" />
    <add key="AddItemsFromFile" value="false" />
    <add key="apikey" value="a135c5f0-f228-4cc9-8a55-09555ba1945b" />
    <add key="fromName" value="Hayes Software Company"/>
    <add key="ElasticAPI" value="https://api.elasticemail.com/v2/email/send"/>
    <add key="SMSAPI" value="https://api.elasticemail.com/sms/send" />
    <add key="notificationSentTo" value="support@hayessoft.com,TipWeb-IT@sisd.net,adominguez@hayessoft.com"/>
    <add key="notificationSentFrom" value="no-reply@mesaps.com"/>
    <add key="SqlServerDbMailProfileName" value="TIPWebIMEMail"></add>
    <add key="IntegrationPartner" value="Socorro ISD"/>
    <add key="IntegrationType" value="Purchase Orders"/>

    <!--Below fields are for file mapping.-->
    <add key="OrderNumber" value="rqhd_req_no"/>
    <add key="OrderDate" value="rqhd_pre_dt"/>
    <add key="VendorName" value="a_vendor_name"/>
    <add key="ProductName" value="rqdt_vdr_part_no"/>
    <add key="Description" value="rqdt_vdr_part_no"/>
    <add key="ProductType" value=""/>
    <add key="Model" value="rqdt_manufact_no"/>
    <add key="Manufacturer" value="rqdt_manufact_name"/>
    <add key="Quantity" value="rqdt_qty_no"/>
    <add key="PurchasePrice" value="rqdt_uni_pr"/>
    <add key="FundingSource" value="a_long_account_no"/>
    <add key="AccountCode" value="a_long_account_no"/>
    <add key="LineNumber" value="rqdt_lin_no"/>
    <add key="ShippedToSite" value="rqhd_shp_cd"/>
    <add key="QuantityShipped" value="rqdt_qty_no"/>
    <add key="Notes" value=""/>

    <!--Charges and Payments-->
    <add key="FineId" value="0"/>
    <add key="PaymentAmount" value="1"/>
    <add key="PaymentType" value="2"/>
    <add key="PaymentDate" value="3"/>

    <!--Default Values-->
    <add key="ProductTypeDefault" value="Unspecified"/>
    <add key ="ModelDefault" value="None"/>
    <add key ="ManufacturerDefault" value="None"/>
    <add key="ShippedToSiteDefault" value="625"/>


  </appSettings>
  <connectionStrings>
    <!--<add name="AdoConnectionString" connectionString="Server=RND-ADOMINGUEZ;Database=TipWebHostedSocorroISD;Trusted_Connection=True;" />-->
     <add name="AdoConnectionString" connectionString="Server=DB;Database=TipWebHostedSocorroISD;Trusted_Connection=True;" /> 
  </connectionStrings>
</configuration>