<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="delimiter" value="&#009;" />
    <add key="textQualifier" value="|" />
    <add key="AddItemsFromFile" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="AdoConnectionString" connectionString="Server=JJOHNSTON-PC\MSSQL2014;Database=TIPWebHostedGarlandISD;Trusted_Connection=True;" />
    <!--<add name="AdoConnectionString" connectionString="Server=HAYESINTEGRATION;Database=TIPWebHostedGarlandISD;Trusted_Connection=True;" />-->
  </connectionStrings>
</configuration>