<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="delimiter" value="&#009;" />
    <add key="textQualifier" value="" />
    <add key="AddItemsFromFile" value="false" />
    <add key="apikey" value="a135c5f0-f228-4cc9-8a55-09555ba1945b" />
    <add key="fromName" value="Hayes Software Company"/>
    <add key="ElasticAPI" value="https://api.elasticemail.com/v2/email/send"/>
    <add key="SMSAPI" value="https://api.elasticemail.com/sms/send" />
    <add key="notificationSentTo" value="rgailey@hayessoft.com"/>
    <!-- <add key="notificationSentTo" value="TipWeb-IT.integrations@garlandisd.net;dcathcart@hayessoft.com"/> -->
    <!--<add key="notificationSentTo" value="TipWeb-IT.integrations@garlandisd.net"/>-->
    <add key="notificationFrom" value="no-reply@garlandisd.com"/>
    <add key="SqlServerDbMailProfileName" value="TIPWebIMEMail"></add>
  </appSettings>
  <connectionStrings>
    <add name="AdoConnectionString" connectionString="Server=HAYESConversion;Database=TIPWebHostedGarlandISD;User ID=Tipweb;Password=Bookmaster" />
    <!--<add name="AdoConnectionString" connectionString="Server=HayesDb2012;Database=TIPWebHostedGarlandISD;Trusted_Connection=True;" />-->
    <!--<add name="AdoConnectionString" connectionString="Server=JJOHNSTON-PC\MSSQL2014;Database=TIPWebHostedGarlandISD;Trusted_Connection=True;" />-->
    <!--<add name="AdoConnectionString" connectionString="Server=HAYESINTEGRATION;Database=TIPWebHostedGarlandISD;Trusted_Connection=True;" />-->
  </connectionStrings>
</configuration>