<div *ngIf="aggData">
  <div class="row">
    <div *ngIf="nonErrorData.length === 0">
        <div class="col-sm-4 tile_count tile_stats_count" style="border-bottom: 1px solid rgba(121, 175, 239, 0.54);border-right: 4px solid rgba(23, 42, 65, 0.54);">
            <span class="count_top"><i class="fa fa-thumbs-o-up"></i> Successfully Imported Records</span>
            <div class="count">0</div>
            <span class="count_bottom">Purchases</span>
        </div>
    </div>
    <div class="col-sm-4 tile_count tile_stats_count" style="border-bottom: 1px solid rgba(121, 175, 239, 0.54);border-right: 4px solid rgba(23, 42, 65, 0.54);" *ngFor="let a of nonErrorData">
        <span class="count_top"><i class="fa fa-thumbs-o-up"></i> {{a.ReferenceVal}}</span>
        <div class="count">{{a.TotalCount | number}}</div>
        <span class="count_bottom">{{a.IntegrationType}}&nbsp;{{a.DataType}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 tile_count tile_stats_count" style="border-bottom: 1px solid rgba(121, 175, 239, 0.54);border-right: 4px solid rgba(23, 42, 65, 0.54);" *ngFor="let e of errorData">
      <span (click)="onErrTypeClicked(e.ReferenceVal);" title="{{e.ReferenceDescription}}" class="count_top"><i class="fa fa-exclamation-triangle" style="color:darkred;"></i> {{e.ReferenceVal}}</span>
      <div class="count">{{e.TotalCount | number }}</div>
      <span class="count_bottom">{{e.IntegrationType}}&nbsp;{{e.DataType}}</span>
    </div>
  </div>
</div>