<!-- <style>
  body {
    padding-top: 54px;
  }
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }
</style> -->

<!-- Navigation -->
<nav class="navbar fixed-top">
  <div class="container">
    <a class="navbar-brand">Integrator</a>
      <ul class="nav navbar-nav">
        <li class="active">
          <a routerLink="/client-viewer">Client Viewer</a>
        </li>
      </ul>
  </div>
</nav>
<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
